/* Base styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

.app-container {
  background-color: #f4f4f4;
  color: #333;
  min-height: 100vh; /* Ensures the div takes up the full viewport height */
  transition: background-color 0.3s, color 0.3s;
}


h1 {
  text-align: center;
  color: inherit; /* Inherit color from parent */
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}


div {
  text-align: center;
  margin: 20px;
}

input[type="text"] {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
}

input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}


.toggle-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.toggle-btn:hover {
  background-color: #0056b3;
}
